#banner {
    background-color: #E5E5E5;
    padding: 20px 50px 20px 50px;
    height: auto;
}
#menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    text-align: center;
    align-items: center;
   
}
#food{
    color: #EAAC3B;
}
h1{
    color: #6CB840;
}
body{
    margin: 30px;
}
#left{
    float: left;
    width: 30%;
} 
#food-left{
    float: left;
    width: 60%;
}
#food-left>img{
    width: 100%;
}
#eat-food{
    color: #FFDC8E;

}
#food-right {
    float: right;
    width: 40%;
    margin-top: 70px;
}
.page-3{
    background-color: rgb(234,243,228);
    height: auto;
}
#food-both {
height: 600px;
}
#order{
    background-color: #6CB840;
    padding: 10px 30px 10px 30px;
    border-radius: 150px;
    text-decoration: none;
    color: white;
}
.center {
    text-align: center;
    align-items: center;
}
.food-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.green {
    color: #6CB840;
}
.explore {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
#explore2 {
    margin-top: 10vh;
}

.item-1 {
    display: flex;
    width: 100%;
    
}
    .paragraph{
        height: auto;
        background-color: whitesmoke;
        border-radius: 15px 50px; 

    }
/* page-4 */

.hot{
    width: 50%;
    height: 500px;
    background-image: url("Assets/abhishek-hajare-kkrXVKK-jhg-unsplash-removebg-preview.png");
    background-size: 100% 100%;
}
.hot img{
    margin-top: 260px;
    margin-left:130px;
}
.size{
    width: 500px;
    margin-left:350px;
}

.left{
    padding-top: 20%;
    float: right;
}

.page-4{
    height: 600px;
    background-color: rgb(201,236,181);
}

.page-5{
    height: 300px;
    background-color: rgb(255,245,221);
}

input, BUtton{
    border-radius: 20px;
    border: 0px;
}

.footer{
    background-color: rgb(241,250,236);
    display: flex;
    flex-direction: row ;
}

.time, .address, .follow{
    padding-left: 20px;
    padding: 30PX;
}

.address, .follow{
    padding-left: 30px;
}

.space{
    padding-top: 7%;
}
.head{
    padding-top: 30px;
}
span{
    font-weight: 900;
    font-size: 25px;
}