#banner {
    background-color: #E5E5E5;
    padding: 20px 50px 20px 50px;
    height: auto;
}
#menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    text-align: center;
    align-items: center;
   
}
#food{
    color: #EAAC3B;
}
h1{
    color: #6CB840;
}
body{
    margin: 30px;
}
#left{
    float: left;
    width: 30%;
} 
#food-left{
    float: left;
    width: 60%;
}
#food-left>img{
    width: 100%;
}
#eat-food{
    color: #FFDC8E;

}
#food-right {
    float: right;
    width: 40%;
    margin-top: 70px;
}
#explore, .explore{
    background-color: rgb(234,243,228);
    height: auto;
}
#food-both {
height: 600px;
}
#order{
    background-color: #6CB840;
    padding: 10px 30px 10px 30px;
    border-radius: 150px;
    text-decoration: none;
    color: white;
}
.center {
    text-align: center;
    align-items: center;
}
.food-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.green {
    color: #6CB840;
}
.explore {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
#explore2 {
    margin-top: 10vh;
}

.item-1 {
    display: flex;
    width: 100%;
    
}

